/* src/components/Login.css */
.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
  background: linear-gradient(to bottom, #FAEBD7, #F5DEB3);
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.login-container button {
  padding: 10px 20px;
  background-color: #007bfc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 10px;
}
